subscription_id = "00000000-0000-0000-0000-000000000000"
environment = "prod"
workload    = "internal-apps"
prefix      = "cmp"
location    = "centralus"
address_space = ["10.210.0.0/16"] # REPLACE with approved IPAM allocation
ipam_pools = [
  {
    id            = "/subscriptions/REPLACE/resourceGroups/REPLACE/providers/Microsoft.Network/networkManagers/REPLACE/ipamPools/internal-apps-vnet-pool"
    prefix_length = 24
  }
]
subnets = {
  app  = { address_prefixes = ["10.210.1.0/24"] }
  data = { address_prefixes = ["10.210.2.0/24"] }
  private-endpoints = { address_prefixes = ["10.210.3.0/24"] }
}
hub_vnet_id = "/subscriptions/REPLACE/resourceGroups/REPLACE/providers/Microsoft.Network/virtualNetworks/REPLACE"
firewall_next_hop_ip = "10.200.3.10" # REPLACE with Palo trust ILB frontend IP
log_analytics_workspace_id = "/subscriptions/REPLACE/resourceGroups/REPLACE/providers/Microsoft.OperationalInsights/workspaces/REPLACE"
tags = { CostCenter = "REPLACE_ME", Owner = "REPLACE_ME", DataClass = "Internal", Criticality = "Tier1" }

workload_key_vault_private_endpoint_subnet_key = "private-endpoints"
workload_key_vault_private_dns_zone_ids = [
  "/subscriptions/REPLACE/resourceGroups/REPLACE/providers/Microsoft.Network/privateDnsZones/privatelink.vaultcore.azure.net"
]
