.DS_Store
.vscode
.terraform
**/.terraform/*
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
*.tfplan
crash.log
azure-terraform/modules/storage-account/.local-validation/20260702-225658/module-validation.log
