tenant_id                   = "00000000-0000-0000-0000-000000000000"
subscription_id             = "00000000-0000-0000-0000-000000000000"
location                    = "centralus"
environment                 = "prod"
tfe_organization            = "Compeer-Financial-Services"
management_workspace_name   = "platform-management"
connectivity_workspace_name = "platform-connectivity"

platform_tags = {
  application         = "alz-platform-identity"
  business_owner      = "Cloud Enablement"
  source_repo         = "ado://Compeer/landing-zone"
  terraform_workspace = "platform-identity-security"
  recovery_tier       = "standard"
  cost_center         = "CC-0000"
  data_classification = "confidential"
  compliance_boundary = "enterprise"
  additional_tags = {
    created_by = "terraform"
  }
}

identity = {
  enabled = true
  resource_group = {
    name = "rg-platform-identity-prod"
  }
  platform_identities = {
    automation = { name = "id-platform-automation-prod-001" }
  }
  key_vault = {
    name                       = "kv-platform-prod-001"
    sku_name                   = "standard"
    soft_delete_retention_days = 90
    purge_protection_enabled   = true
    contacts                   = {}
  }
  key_vault_private_endpoint_from_connectivity = {
    enabled = false
    name    = "pe-kv-platform-prod-001"
  }
  diagnostics = {
    logs = {
      audit = { category = "AuditEvent" }
    }
    metrics = {
      all = { category = "AllMetrics" }
    }
  }
}
